name: Build on Pull Request

on:
  - pull_request

env:
  IMAGE: rancher/fluent-bit

jobs:
  test_build-windows:
    strategy:
      matrix:
        include:
          - NANOSERVER_VERSION: 1809
            TAG_SUFFIX: windows-1809-amd64
            RUNNER: windows-2019
          - NANOSERVER_VERSION: ltsc2022
            TAG_SUFFIX: windows-ltsc2022-amd64
            RUNNER: windows-2022
    runs-on: ${{ matrix.RUNNER }}
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set environment variables
        run: |
          "ARCH=amd64" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Build Docker image
        run: |
          echo "Tag name: ${{ github.ref_name }}"
          docker build `
          -f Dockerfile.windows `
          --build-arg WINDOWS_VERSION=${{ matrix.NANOSERVER_VERSION }} `
          --build-arg ARCH=amd64 `
          --build-arg VERSION=${{ github.ref_name }} `
          -t ${{ env.IMAGE }}:${{ github.ref_name }}-${{ matrix.TAG_SUFFIX }} . 
      - name: Inspect image
        run: docker inspect ${{ env.IMAGE }}:${{ github.ref_name }}-${{ matrix.TAG_SUFFIX }}
